* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background: #ffffff;
   width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
/* Header section */
.header {
  background-color:white;
  box-shadow: 0px 4px 2px -0.005 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid #009da4;
  top: 0;
}
.header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  height: 4rem;
  cursor: pointer;
}

/*Form Section*/
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

form {
  width: inherit;
  height: inherit;
  padding: 0 20px;
}

.lead {
  margin-bottom: 0rem;
  border: 0.1rem solid #009da4;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  font-family: Open Sans;
  font-size: 20px;
  line-height: 50px;
  color: #009da4;
  display: block;
  text-align: center;
}

 i input {
  position: absolute;
  bottom: 1.8rem;
  left: 13rem;
  width: 0.6rem;
  height: 0.6rem;
  padding-right: 1.5rem;
  z-index: -1;
  transition: all 0.7s ease-out;
  margin-bottom: 0.3rem;
}

input {
  padding: 0.5rem;
  background: rgba(255, 239, 239, 0.6);
  border: none;
  border-radius: 30px;
  outline: none;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

#login1 {
  border: 2px solid;
  color: white;
  border-radius: 30px;
  background-color: #009da4;
  font-size: 20px;
  font-family: open sans;
  line-height: 25px;
}

#login1:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 239, 239, 0.6);
}

.small {
  color: red;
}

.forgot {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  color: #A79E9E
}

.forgot a {
  text-decoration: none;
  color:#009da4;
}

.forgot a:hover {
  text-decoration: underline;
  color:#009da4;
}

/* Footer begins */
footer {
  background-color:white;
  position: inherit;
  bottom: 0;
  width: 100%;
  z-index: 1;
  border-top: 0.1rem solid #009da4;
  font-size: 1.3rem;
  font-weight: 1000;
}

footer .blue {
  color: #009da4;
}

@media (max-width:576px) {
  footer {
    font-size: 1.2rem ;
  }
}

/*This class is added by javascript
when the password reaches the user icons*/
.fadeOff {
  color: rgba(255, 239, 239, 0.6);
}

/*End of Form Container*/


.image {
  width: inherit;
  height: inherit;

}


/* .copyright {
  position: relative;
  bottom: 0;
} */


 /* i {
  position: absolute;
  bottom: 1.8rem;
  left: 18rem;
  width: 0.6rem;
  height: 0.6rem;
  padding-right: 1.5rem;
  z-index: -1;
  transition: all 0.7s ease-out;
  margin-bottom: 0.3rem;
 } */